h1 {
    margin-bottom: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}

#mainBody {
    width: 1000px;
    margin: auto;
    border: 3px solid black;
}

#images {
    display: flex;
    justify-content: center;
    width: 950px;
    height: 150px;
}