.container {
  margin-top: 25px;
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: row;
}

#child {
  padding: 0px 5px 0px 5px;
  width: 25%;
  overflow: hidden;
}

#gallery-img {
  width: 100%;
}